!!! 5
html(ng-app='hg2')
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable',content='yes')
    meta(name='description', content='')
    meta(name='author', content='')
    title HappyGet2
    link(rel="shortcut icon", href="./favicon.ico")

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33503929-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    // Lib
    link(rel='stylesheet', type='text/css', href='./style/bootstrap.css')
    script(type='text/javascript', src='./script/framework.js')

    //if lt IE 9
    script(src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js")

    // Page
    script(type='text/javascript', src='./script/search_youtube.js')
    link(rel='stylesheet', type='text/css', href='./style/search_youtube.css')

  body#viewport(ng-controller="MainCtrl")
    #header
      .logo.pull-left(href='#')
      .control(href='#',ng-class="'server-'+serverStatus")
        .circle
        .img
        span.text.text-running.i18n(text='running')
        span.text.text-stopped.i18n(text='stopped')
        span.text.text-paused.i18n(text='paused')
      p.ver V2.0
      ul.nav
        li: a.nav-logout.i18n(href='#logout',text='extension',ng-click="logout()") Logout
        li.separation
        li: a.nav-page.i18n(href='https://www.facebook.com/ILoveHappyget',target='_blank',text='extension') Page
        li.separation
        li: a.nav-downloadlist.i18n(href='./index.html',text='refresh') List
    #login(ng-controller="LoginCtrl",ng-hide='user')
      form.form-horizontal(ng-submit='login()', ng-hide="reqServer")
        .input
          input(type='text',placeholder='Username',ng-model='username')
        .input
          input(type='password',placeholder='Password',ng-model='password')
        .message(ng-show='error') *Invalid username or password
        .toolbar
          label.checkbox(ng-class="{'checked':remember}") 
            input(type="checkbox", ng-model="remember")
            span Remember me
          button.submit(type='submit') SIGN IN
      .tipbox(ng-show="reqServer")
        label Login...
    #search(ng-controller="SearchCtrl",ng-show='user')
      form(ng-submit="search()")
        .input-wrap
          input(type='text',placeholder='Search YouTube',ng-model='keyword')
          button.btn-sd(type='submit')
          button.btn-hd(type='button', ng-click="search(1)")
      .results
        .item(ng-repeat="item in items | startFrom:page.start | limitTo:page.count")
          .wrap(ng-click='look($index)')
            .thumb(style="background-image:url({{item.thumb}});")
            .title {{item.title}}
            .description {{item.description}}
          .download(ng-click='download($index)',ng-class="{'downloaded': item.download}")
      .page-tools
        .item.prev-page(ng-click="gotoPage(page.now-1)",ng-class="{'disable': pageDisable(-1)}") &nbsp;
        .item(ng-click="gotoPage(page.now-2)",ng-class="{'disable': pageDisable(-2)}") {{page.now-2}}
        .item(ng-click="gotoPage(page.now-1)",ng-class="{'disable': pageDisable(-1)}") {{page.now-1}}
        .item.now-page {{page.now}}
        .item(ng-click="gotoPage(page.now+1)",ng-class="{'disable': pageDisable(+1)}") {{page.now+1}}
        .item(ng-click="gotoPage(page.now+2)",ng-class="{'disable': pageDisable(+2)}") {{page.now+2}}
        .item.next-page(ng-click="gotoPage(page.now+1)",ng-class="{'disable': pageDisable(+1)}") &nbsp;
    #player(ng-controller="PlayerCtrl",ng-show='user')
      .frame
        iframe(id="ytplayer",type="text/html",src="https://www.youtube.com/embed/{{video.vid}}?autohide=1",frameborder="0",allowfullscreen)
      .dl-settings
        .subtitle Download Settings
        .msg-unable(ng-hide="video")
          .icon
          .msg You didn't select video.
        .msg-downloaded(ng-show="video.download")
          .icon
          .msg Video downloaded.
        form(ng-submit="download()",ng-show="video && !video.download")
          .step.playlist
            .column
              label Playlists:
            .input
              input(type="text",placeholder="Playlists",ng-model="playlist")
          .step.audio
            .column
              label Audio:
            .input
              label.checkbox.enable(ng-class="{'checked': video.quality.Audio}")
                input(type="checkbox", ng-model="video.quality.Audio")
                span Categorise as MV
          .step.qualitys
            .column Quality:
            .input
              .download-all
                button(type="button",ng-click="download(1)")
              .download-choose
                label.checkbox(ng-class="{'checked': video.quality.Original, 'enable': video.availableQuality.Original}")
                  input(type="checkbox", ng-model="video.quality.Original")
                  span Original
                label.checkbox(ng-class="{'checked': video.quality.HD1080, 'enable': video.availableQuality.HD1080}")
                  input(type="checkbox", ng-model="video.quality.HD1080")
                  span HD1080P
                label.checkbox(ng-class="{'checked': video.quality.HD720, 'enable': video.availableQuality.HD720}")
                  input(type="checkbox", ng-model="video.quality.HD720")
                  span HD720P
                label.checkbox(ng-class="{'checked': video.quality.Medium, 'enable': video.availableQuality.Medium}")
                  input(type="checkbox", ng-model="video.quality.Medium")
                  span 360P
                button(type="button",ng-click="download()")