@import "compass"
@import "configs.sass"
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes('running')
  0%
    +rotate(0deg)
  50%
    +rotate(180deg)
    +single-box-shadow(#00ccff, 0, 0, 17px)
  100%
    +rotate(360deg)

+keyframes('stoppe')
  0%
    border-color: #ff0000 rgba(0, 0, 0, 0)
  50%
    border-color: rgba(0, 0, 0, 0) #ff0000
  100%
    border-color: #ff0000 rgba(0, 0, 0, 0)

+keyframes('paused')
  0%
    border-color: rgba(0, 0, 0, 0) #ff9900
  50%
    border-color: rgba(0, 0, 0, 0)
  100%
    border-color: rgba(0, 0, 0, 0) #ff9900

#header
  overflow: hidden
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: $header-height
  background: #000
  background-image: inline-image('youtube_header_bg.png')
  z-index: 11
  .logo
    width: 265px
    height: 100px
    display: block
    text-align: center
    background-image: inline-image('blue_logo.png')
    background-size: contain
    background-repeat: no-repeat
    position: absolute
    left: 10px
    top: 0px
  .box-ver
    position: absolute
    right: 10px
    top: 0px
  .box-nav
    position: absolute
    right: 30px
    top: 10px
    list-style: none
    height: 80px
    li
      float: right
      height: 80px
      &.separation
        background-image: inline-image('separation.png')
        background-repeat: no-repeat
        background-position: center center
        width: 9px
    a
      display: block
      padding: 56px 6px 12px 6px
      width: 80px
      font-size: 12px
      text-align: center
      background-position: center 7px
      background-repeat: no-repeat
      color: #FFF
      &:hover
        color: #08c
      &.nav-logout
        background-image: inline-image('youtube_nav_logout.png')
        &:hover
          background-image: inline-image('youtube_nav_logout.png')
        &:active
          background-image: inline-image('youtube_nav_logout.png')
      &.nav-downloadlist
        background-image: inline-image('youtube_nav_downloadlist.png')
        &:hover
          background-image: inline-image('youtube_nav_downloadlist.png')
        &:active
          background-image: inline-image('youtube_nav_downloadlist.png')
      &.nav-page
        background-image: inline-image('youtube_nav_page.png')
        &:hover
          background-image: inline-image('youtube_nav_page.png')
        &:active
          background-image: inline-image('youtube_nav_page.png')
  .control
    position: absolute
    top: 10px
    left: 50%
    $width: 80px
    $height: 80px
    width: $width
    height: $height
    margin-left: -$width/2
    .circle,
    .img
      position: absolute
      top: 0px
      left: 0px
      border-radius: $width/2
    .circle
      width: $width - 12px
      height: $height - 12px
      background-color: rgba(0, 0, 0, 0)
      border: 6px solid rgba(0, 0, 0, 0)
      opacity: 0.9
    .img
      width: $width
      height: $height
      background: no-repeat center center
      background-size: $width $height
    &.server-running
      .img
        background-image: inline-image('control_pause.png')
      &:hover .img
        background-image: inline-image('control_pause_hover.png')
      &:active .img
        background-image: inline-image('control_pause_active.png')
      .text
        color: #2187e7
        &.text-running
          display: block
      .circle
        border-color: #00ccff rgba(0, 0, 0, 0)
        +single-box-shadow(#2187e7, 0, 0, 35px)
        +experimental('animation', running 3s infinite linear)
    &.server-paused
      .img
        background-image: inline-image('control_run.png')
      &:hover .img
        background-image: inline-image('control_run_hover.png')
      &:active .img
        background-image: inline-image('control_run_active.png')
      .text
        color: #ff9900
        &.text-paused
          display: block
        &.text-running
          display: none
      .circle
        border-color: rgba(0, 0, 0, 0) #ff9900
        +single-box-shadow(#666, 0, 0, 17px)
        +experimental('animation', paused 1.8s infinite ease-in-out)
    &.server-stopped
      .img
        background-image: inline-image('control_stop.png')
      &:hover .img
        background-image: inline-image('control_stop_hover.png')
      &:active .img
        background-image: inline-image('control_stop_active.png')
      .text
        color: #ff0000
        &.text-stopped
          display: block
        &.text-running,
        &.text-paused
          display: none
      .circle
        border-color: #ff0000 rgba(0, 0, 0, 0)
        +single-box-shadow(#666, 0, 0, 17px)
        +experimental('animation', stoppe 1.8s infinite ease-in-out)