@import "compass"
@import "configs.sass"

$logo-width: 265px
$logo-height: 100px
$control-width: 80px
$control-height: 80px
$nav-width: 80px
$nav-height: 80px

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

// +keyframes('running')
//   0%
//     +rotate(0deg)
//   50%
//     +rotate(180deg)
//     +single-box-shadow(#00ccff, 0, 0, 17px)
//   100%
//     +rotate(360deg)

// +keyframes('stoppe')
//   0%
//     border-color: #ff0000 rgba(0, 0, 0, 0)
//   50%
//     border-color: rgba(0, 0, 0, 0) #ff0000
//   100%
//     border-color: #ff0000 rgba(0, 0, 0, 0)

// +keyframes('paused')
//   0%
//     border-color: rgba(0, 0, 0, 0) #ff9900
//   50%
//     border-color: rgba(0, 0, 0, 0)
//   100%
//     border-color: rgba(0, 0, 0, 0) #ff9900

#header
  overflow: hidden
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: $header-height
  background: #000
  background-image: inline-image('youtube_header_bg.png')
  font-size: 80%
  z-index: 11
  .logo
    width: $logo-width
    height: $logo-height
    display: block
    text-align: center
    background-image: inline-image('blue_logo.png')
    background-size: contain
    background-repeat: no-repeat
    position: absolute
    left: 10px
    top: 0px
  .ver
    position: absolute
    right: 10px
    top: 2px
  .nav
    position: absolute
    right: 30px
    top: 10px
    list-style: none
    height: $nav-height
    li
      float: right
      height: $nav-height
      &.separation
        background-image: inline-image('separation.png')
        background-repeat: no-repeat
        background-position: center center
        width: 9px
    a
      display: block
      padding: 56px 6px 12px 6px
      width: $nav-width
      text-align: center
      background-position: center 7px
      background-repeat: no-repeat
      background-size: 48px 48px
      color: #FFF
      &:hover
        color: #08c
      &.nav-logout
        background-image: inline-image('youtube_nav_logout.png')
      &.nav-downloadlist
        background-image: inline-image('youtube_nav_downloadlist.png')
      &.nav-page
        background-image: inline-image('youtube_nav_page.png')
  // .control
  //   position: absolute
  //   top: 10px
  //   left: 50%
  //   width: $control-width
  //   height: $control-height
  //   margin-left: -$control-width/2
  //   .circle,
  //   .img
  //     position: absolute
  //     top: 0px
  //     left: 0px
  //     border-radius: $control-width/2
  //   .circle
  //     width: $control-width - 12px
  //     height: $control-height - 12px
  //     background-color: rgba(0, 0, 0, 0)
  //     border: 6px solid rgba(0, 0, 0, 0)
  //     opacity: 0.9
  //   .img
  //     width: $control-width
  //     height: $control-height
  //     background: no-repeat center center
  //     background-size: $control-width $control-height
  //   &.server-running
  //     .img
  //       background-image: inline-image('control_online.png')
  //     .text
  //       color: #2187e7
  //       &.text-running
  //         display: block
  //     .circle
  //       border-color: #00ccff rgba(0, 0, 0, 0)
  //       +single-box-shadow(#2187e7, 0, 0, 35px)
  //       +experimental('animation', running 3s infinite linear)
  //   &.server-stopped
  //     .img
  //       background-image: inline-image('control_offline.png')
  //     .text
  //       color: #ff0000
  //       &.text-stopped
  //         display: block
  //       &.text-running,
  //       &.text-paused
  //         display: none
  //     .circle
  //       border-color: #ff0000 rgba(0, 0, 0, 0)
  //       +single-box-shadow(#666, 0, 0, 17px)
  //       +experimental('animation', stoppe 1.8s infinite ease-in-out)


#header
  height: $header-height/2
  font-size: 62.5%
  .logo
    width: $logo-width/2
    height: $logo-height/2
  .ver
    top: 1px
    right: 5px
  .nav
    right: 15px
    top: 5px
    height: $nav-height/2
    li
      height: $nav-height/2
      &.separation
        width: 4.5px
    a
      padding: 29px 3px 6px 3px
      width: $nav-width/2
      background-position: center 3.5px
      background-size: 24px 24px
  .control
    $width: $control-width/2
    $height: $control-height/2
    top: 5px
    width: $width
    height: $height
    margin-left: -$width/2
    .circle,
    .img
      border-radius: $width/2
    .circle
      width: $width - 6px
      height: $height - 6px
      border-width: 3px
    .img
      width: $width
      height: $height
      background-size: $width $height