@import "compass"
@import "configs.sass"

$login-width: 580px

#login
  position: absolute
  z-index: 10
  width: $login-width
  margin-left: -$login-width / 2
  top: $header-height + 40px
  left: 50%
  padding: 30px 8px
  input
    border: none
    padding: 12px 0px 4px 0px
    margin: 0px
    height: 60px - 12px
    width: 100%
    text-indent: 20px
    font-size: 200%
    line-height: 200%
    &:focus
      +box-shadow(none)
  .input
    margin-bottom: 20px
    position: relative
    vertical-align: middle
    +transition(opacity 250ms ease-in-out 50ms)
  .toolbar
    height: 42px
    .checkbox
      float: left
      vertical-align: middle
      cursor: pointer
      color: #d4d4d4
      height: 40px
      padding: 10px 0px
      line-height: 40px
      font-size: 38px
      padding-left: 38px + 10px
      background: inline-image("youtube_unchecked.png") no-repeat 0px center
      &.checked
        background-image: inline-image("youtube_checked.png")
      input
        display: none
    .submit
      color: #FFF
      float: right
      +background-image(linear-gradient(#5dc0ea, #2781a7))
      +border-radius
      border: 1px #082b3a solid
      font-size: 38px
      line-height: 40px
      width: 200px
      padding: 10px 0px
      cursor: pointer
      +border-radius(20px)
  .tipbox
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    text-align: center
    font-size: 400%
    vertical-align: middle
    color: #FFF
  .message
    font-size: 200%
    text-align: right
    color: #F30
    margin-bottom: 10px