@import "compass"
@import "configs.sass"

$form-height: 88px
$item-height: 176px
$page-height: 94px

#search
  width: 60%
  height: 100%
  position: fixed
  top: 0px
  left: 0%
  background: #637084
  form
    height: $form-height
    background: #000
    margin-top: $header-height
    padding: 0px 186px 0px 20px
    background: inline-image('youtube_search_form.png')
    .input-wrap
      position: relative
      width: 100%
      padding-top: 14px
    input
      width: 100%
      height: 48px
      padding: 6px 0px 1px 0px
      line-height: 48px
      text-indent: 20px
      +border-radius(15px 0px 0px 15px)
    button
      position: absolute
      top: 14px
      height: 58px
      &.btn-sd
        background: inline-image('youtube_search_submit.png')
        width: 60px
        right: -60px
      &.btn-hd
        background: inline-image('youtube_search_submit_hd.png')
        width: 106px
        right: -60px + -106px
  .results
    background: inline-image('youtube_search_item_bg.png')
    .item
      height: $item-height
      overflow: hidden
      position: relative
      padding-left: 210px
      .thumb:hover,
      .title:hover,
      .description:hover
        /* style */
        cursor: pointer
        text-decoration: underline
      .thumb
        background-size: contain
        width: 200px
        height: 150px
        position: absolute
        left: 13px
        top: 14px
      .title
        display: block
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        font-size: 36px
        color: #BDEEFF
        margin: 14px 0px 3px 0px
        .device-ios &
          font-size: 18px
      .description
        display: block
        overflow: hidden
        text-overflow: ellipsis
        height: 48px
        font-size: 24px
        color: #F3F3F3
        margin-top: 3px
        .device-ios &
          font-size: 12px
      .download
        width: 200px
        height: 60px
        background: inline-image('youtube_download_choose.png')
        position: absolute
        right: 13px
        bottom: 5px
        &.downloaded
          background: inline-image('youtube_downloaded.png')
  .page-tools
    position: absolute
    left: 0px
    bottom: 0px
    width: 100%
    height: $page-height
    text-align: center
    line-height: $page-height
    background: inline-image('youtube_search_page.png')
    .item
      display: inline-block
      margin: 0px 3px
      cursor: pointer
      font-size: 200%
      width: $page-height
      height: $page-height
      &.disable
        color: rgba(255,255,255,0)
        cursor: default
    .prev-page,
    .next-page
      background-repeat: no-repeat
      background-position: center center
      &.disable
        background: none
    .prev-page
      background-image: inline-image("youtube_prev_page.png")
    .next-page
      background-image: inline-image("youtube_next_page.png")

@media screen and (max-device-width: 641px)
  #search
    width: 100%